html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", serif;
  text-align: center;
  color: #fff;
  margin: .3em;
  padding: 0;
}

nav li {
  font-family: sans-serif;
  color: #fff;
  background-color: #713837;
  padding: .5em .75em;
  margin: 0;
  border-radius: 4px;
  display: inline;
}

nav a {
  text-align: center;
  text-decoration: none;
  display: inline;
  padding: 0.5em 0.75em;
  color: #fff;
}

nav ul {
  text-align: center;
  display: inline-block;
}

nav a:hover {
  background-color: #f33;
}

body {
  background-color: #79756f;
  padding: 0;
  margin: 0;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  border-radius: 10px;
}
