html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

h1 {
  font-family: "Bevan", cursive;
  text-align: center;
  color: #fff;

}

nav a {
  font-family: sans-serif;
  color: #fff;
  text-decoration: none;
  background-color: #713837;
  padding: 0.5em 0.75em;
  margin: 0.3em;
  text-align: center;
  border-radius: 4px;

}

nav a:hover {
  background-color: #f33;

}

body {
  background-color: #79756f;
  padding: .6em;
  margin: 0em;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  border-radius: 10px;

}

*, *::before, *::after {
  box-sizing: inherit;
}
